.text2{
    width: 700px;
    height: 1000px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #66512c;
}
.f1 {
    width: 500px;
    height: 1000px;
    border: 1px solid black;
    border-radius: 5px;
}

.table {
    width: 150px;
    height: auto;
    margin-left: 40px;
    float: left;
}
.f_all{
    margin-top: 50px;
    width: 300px;
    height: auto;
    float: left;
}
.t1{
    width: 200px;
    height: 40px;
    border: 1px solid black;
}
.ff1{
    float: left;
}
